<!DOCTYPE html>
<html lang="ru">
<head>
    {% include "./components/head.njk" %}
</head>
<body>
<section id="header">
    <div class="container">
        <header>
            <div class="logo">
                <a href="#"><img src="../img/logo2.png"></a>
            </div>
            <nav>
                <ul class="menu">
                    <li class="Item">
                        <a href="#cv">Обо мне</a>
                    </li>
                    <li class="Item">
                        <a href="#skills">Навыки</a>
                    </li>
                    <li class="Item">
                        <a href="#works">Работы</a>
                    </li>
                </ul>
            </nav>
            <div class="email">
                info@myname.com
            </div>
        </header>
            <div class="intro">
                <h1>Дело, которым я живу</h1>
                <p>Верстка & Frontend</p>
            </div>
            <div class="arrow">
               <a href="#"><img src="../img/arrow.png"></a>
            </div>
    </div>
</section>

<section id="cv">
    <div class="container">
        <h1>обо мне</h1>
        <div class="description">
            <div class="description__first">
                <h2>бэкграунд</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis.
                    <br><br>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.
                    <br><br>
                    Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa quiis aute irure dolor in reprehenderit in is aute irure dolor in reprehenderit in is aute irure dolor in reprehenderit in.
                </p>
            </div>
            <div class="description__second">
                <h2>Заслуги</h2>
                <div class="wrapper">
                    <div class="img">
                        <div class="romb">
                            75
                        </div>
                        <p>
                            Реализованных
                            проектов
                        </p>
                    </div>
                    <div class="img">
                        <div class="romb">
                            154
                        </div>
                        <p>
                            Положительных
                            отзыва
                        </p>
                    </div>
                    <div class="img">
                        <div class="romb">
                            8
                        </div>
                        <p>
                            Лет<br>
                            опыта
                        </p>
                    </div>
                </div>
                <div class="wrapper1">
                    <h2>Связь</h2>
                    <div class="wrapper2">
                    <div class="refs">
                        <a href="#">freelance.ru/myname</a> <br>
                        <a href="#">vk.com/12343</a> <br>
                        <a href="#">info@sitename.ru</a>
                    </div>
                    <div class="writeme">
                        <a href="#"><img src="../img/personincircle.png"></a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="skills">
    <div class="container">
        <h1>Навыки</h1>
        <div class="skills">
            <div class="skill__type">
                <div class="circle">
                    98%
                </div>
                <p>Photoshop</p>
            </div>
            <div class="skill__type">
                <div class="circle">
                    99%
                </div>
                <p>html5</p>
            </div>
            <div class="skill__type">
                <div class="circle">
                    100%
                </div>
                <p>CSS3</p>
            </div>
            <div class="skill__type">
                <div class="circle">
                    0%
                </div>
                <p>Лень</p>
            </div>
        </div>
    </div>
</section>

<section id="works">
    <div class="container">
        <h1>Работы</h1>
        <div class="work">
            <div class="art">
                <img src="../img/picture1.png">
                <div class="overlay">
                    <h5>Название работы</h5>
                    <a href="#">Смотреть</a>
                </div>
            </div>
            <div class="art">
                <img src="../img/picture2.png">
                <div class="overlay">
                    <h5>Название работы</h5>
                    <a href="#">Смотреть</a>
                </div>
            </div>
            <div class="art">
                <img src="../img/picture3.png">
                <div class="overlay">
                    <h5>Название работы</h5>
                    <a href="#">Смотреть</a>
                </div>
            </div>
        </div>

    </div>
</section>

<section id="footer">
    <div class="container">
        <footer>
            <div class="footer">
            2017-2099 / Смотрю в будущее
            </div>
        </footer>
    </div>
</section>
{% include "./components/footer.njk" %}
</body>
</html>