@import "global";
@import "helpers/mixins";
@import "helpers/variables";

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/MuseoSansCyrl 100.otf") format("truetype");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/MuseoSansCyrl 100 Italic.otf") format("truetype");
  font-style: italic;
  font-weight: 100;
}

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/MuseoSansCyrl 300.otf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/MuseoSansCyrl 300 Italic.otf") format("truetype");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/MuseoSansCyrl 900.otf") format("truetype");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/MuseoSansCyrl 900 Italic.otf") format("truetype");
  font-style: italic;
  font-weight: 900;
}

@font-face {
  font-family: "Natasha";
  src: url("../fonts/Natasha.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.container {
  margin: 0 auto;
  width: 940px;
}

#header {
  background-image: url("../img/header.png");
  background-repeat: repeat no-repeat;
  padding: 57px 0 82px 0;

  header {
    display: flex;
    justify-content: space-between;

    .logo {
      float: left;
    }

    .menu {
      display: flex;
      justify-content: space-around;

      a {
        font-family: MuseoSansCyrl;
        font-size: 15px;
        font-weight: 900;
        letter-spacing: 1.8px;
        color: #ffffff;
        text-transform: uppercase;
        text-decoration: none;
        margin-right: 40px;

        &:nth-child(3){
          margin-right: 0;
        }
      }
    }

    .email {
      float: right;
      font-family: MuseoSansCyrl;
      font-size: 13px;
      font-weight: 300;
      letter-spacing: 1.56px;
      color: #ffffff;

      &:after {
        content: '';
        display: block;
        height: 1px;
        background-color: #dae8da;
        margin-top: 5px;
      }
    }
  }

  .intro {
    text-align: center;

    h1 {
      font-family: Natasha;
      font-size: 49px;
      letter-spacing: 5.88px;
      color: #ffffff;
      text-transform: uppercase;
      text-align: center;
      margin-top: 297px;
    }

    p {
      font-family: MuseoSansCyrl;
      font-size: 29px;
      font-weight: 100;
      letter-spacing: 3.48px;
      text-transform: uppercase;
      text-align: center;
      color: #ffffff;
      margin-top: 20px;
    }
  }

  .arrow {
    text-align: center;
    margin-top: 265px;
  }

}

#cv {
  padding: 86px 0 47px 0;

  h1 {
    font-family: Natasha;
    font-size: 37px;
    letter-spacing: 4.44px;
    text-align: left;
    color: #22241b;
  }

  .description {
    display: flex;
    justify-content: space-around;

    .description__first {
      width: 432px;
      margin-right: 49px;

      h2 {
        font-family: Natasha;
        font-size: 22px;
        letter-spacing: 2.64px;
        text-align: left;
        color: rgba(34, 36, 27, 0.66);
        margin-top: 76px;
        margin-bottom: 46px;
      }

      p {
        font-family: MuseoSansCyrl;
        font-size: 15px;
        font-weight: 300;
        line-height: 1.8;
        letter-spacing: 0.3px;
        text-align: left;
        color: #22241b;
      }
    }

    .description__second {

      h2 {
        font-family: Natasha;
        font-size: 22px;
        letter-spacing: 2.64px;
        text-align: left;
        color: rgba(34, 36, 27, 0.66);
        margin-top: 76px;
        margin-bottom: 46px;
        margin-left: 20px;
      }

      .wrapper {
        display: flex;
        justify-content: space-around;

        .img {
          margin-right: 54px;

          &:nth-child(3) {
            margin-right: 0;
          }

          .romb {
            background-image: url("../img/romb.png");
            background-repeat: no-repeat;
            width: 105px;
            height: 105px;
            text-align: center;
            line-height: 105px;
            margin: 0 auto 22px auto;
            font-family: MuseoSansCyrl;
            font-size: 20px;
            font-weight: 100;
            letter-spacing: 2.4px;
            color: #204d15;
          }

          p {
            font-family: MuseoSansCyrl;
            font-size: 12px;
            font-weight: 100;
            line-height: 1.5;
            letter-spacing: 0.24px;
            text-align: center;
            color: #22241b;
            text-transform: uppercase;
          }
        }
      }

      .wrapper1 {

        h2 {
          margin-top: 68px;
          margin-bottom: 38px;
        }

        .wrapper2 {
          display: flex;
          justify-content: space-around;

          .writeme {
            margin-top: 10px;
          }

          .refs {
            float: left;

            a {
              font-family: MuseoSansCyrl;
              font-size: 14px;
              font-weight: 300;
              letter-spacing: 1.68px;
              text-align: left;
              color: #204d15;
              text-decoration: none;

              &:after {
                content: '';
                display: block;
                height: 1px;
                background-color: #dae8da;
                margin-top: 5px;
               }
             }
           }
          }
        }
      }
    }
  }

#skills {
  padding-top: 50px;
   h1 {
     font-family: Natasha;
     font-size: 37px;
     letter-spacing: 4.44px;
     text-align: left;
     color: #22241b;
     margin-bottom: 62px;
   }

  .skills {
    display: flex;
    justify-content: space-between;

    .skill__type {
      display: flex;
      justify-content: space-around;
      margin-right: 41px;

      &:nth-child(4) {
        margin-right: 0;
      }

      .circle {
        background-image: url("../img/circle.png");
        background-repeat: no-repeat;
        width: 61px;
        height: 61px;
        line-height: 61px;
        text-align: center;
        margin-right: 27px;
        font-family: MuseoSansCyrl;
        font-size: 13px;
        font-weight: 100;
        letter-spacing: 1.56px;
        color: #204d15;
      }

      p {
        font-family: MuseoSansCyrl;
        font-size: 15px;
        font-weight: 900;
        line-height: 3.67;
        letter-spacing: 1.8px;
        text-align: left;
        color: rgba(34, 36, 27, 0.89);
        text-transform: uppercase;
      }
    }
  }
}

#works {
  h1 {
    font-family: Natasha;
    font-size: 37px;
    line-height: 1.49;
    letter-spacing: 4.44px;
    text-align: left;
    color: #22241b;
    margin-top: 83px;
    margin-bottom: 60px;
  }

  .work {
    display: flex;
    justify-content: space-around;

    .art {
      width: 300px;
      height: 300px;
      position: relative;

      &:hover {

        .overlay {
          opacity: 1;
        }
      }

      img {
        width: 100%;
        position: relative;
      }

      .overlay {
        opacity: 0;
        background: rgba(0,0,0,0.6);
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        height: 100%;
        color: #FFFFFF;
        text-align: center;
        box-sizing: border-box;
        padding: 135px 0;
        @include transite();

        h5 {
          font-family: MuseoSansCyrl;
          font-size: 15px;
          font-weight: 900;
          letter-spacing: 0.3px;
          text-align: center;
          color: #ffffff;
          text-transform: uppercase;
        }

        a {
          font-family: MuseoSansCyrl;
          font-size: 13px;
          font-weight: 300;
          line-height: 4.23;
          letter-spacing: 0.26px;
          text-align: center;
          color: #ffffff;
        }
      }

    }
  }
}

#footer {
  margin-top: 125px;
  padding-bottom: 110px;
  .footer {
    float: left;
    opacity: 0.66;
    font-family: MuseoSansCyrl;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 1.54px;
    text-align: left;
    color: rgba(34, 36, 27, 0.66);
  }
}

@media only screen and (max-width: 576px) {
  .container {
    width: 90%;
  }

  .menu {
   display: none !important;

  }

  .description {
    flex-direction: column;
  }

  .wrapper {
    flex-direction: column;

    .img {
      display: flex;
      align-items: center;
      margin-right: 0 !important;

      .romb {
        width: 100px !important;
        height: 100px !important;
        margin-right: 15px;
        background-size: contain;
      }

      p {
        margin-top: 0 !important;
      }
    }
  }

  .wrapper2 {
    flex-direction: column;

    .writeme {
      margin-top: 20px;
    }
  }

  .skills {
    flex-direction: column;

    .skill__type {
      justify-content: flex-start !important;
      margin-bottom: 15px;
    }
  }

  .work {
    flex-direction: column;

    .art {
      margin-bottom: 30px;
    }
  }
}




